spring:
  application:
    name: ex06
  datasource:
    url: jdbc:mysql://localhost:3306/springdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: CHANGE_ME
    driver-class-name: com.mysql.cj.jdbc.Driver
  # data.sql 매번 실행해 달라..
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    # database 테이블 생성후 data.sql실행
    defer-datasource-initialization: true
